body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #a30000;
}

.content {
    background-color: #292929;
    padding: 40px;
    max-width: 800px;
    width: 90%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

button,
.validate-button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #ed2c2c;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin: 5px;
    border: none;
}

button:hover,
.validate-button:hover {
    background-color: #a30000;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.choice-container label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%; /* Réduction de la largeur par défaut */
    max-width: 400px; /* Limite de la largeur */
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: left; /* Alignement à gauche */
    box-sizing: border-box;
}

.choice-container.true-false label {
    width: 60%; /* Réduction de la largeur pour Vrai/Faux */
}

.choice-container input {
    margin-right: 10px;
}

.columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.order-column,
.draggable-column {
    width: 40%;
    background-color: #292929;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.order-column ol,
.draggable-column ul {
    padding: 0;
    list-style-type: none;
}

.order-column li,
.draggable-column li {
    position: relative;
    margin: 5px 0;
    min-height: 40px;
    border: 2px dashed #ed2c2c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.number {
    position: absolute;
    left: -30px;
    color: #f0f0f0;
    pointer-events: none;
}

.draggable {
    background-color: #ed2c2c;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: move;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.dragging {
    opacity: 0.5;
    z-index: 1000;
}

.question-box {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1em;
    background-color: #1f1f1f;
    border: 2px dashed #ed2c2c;
    color: #ffffff;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

footer {
    background-color: #292929;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
    color: #f0f0f0;
}
