body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.content {
    text-align: center;
}

.content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.content li {
    margin: 10px 0;
}

.content a {
    color: #ed2c2c;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.content a:hover {
    color: #ffffff;
}

footer {
    background-color: #292929;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
