body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.content {
    background-color: #292929;
    padding: 40px;
    max-width: 800px;
    width: 90%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.content h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 10px 0;
}

.button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #ed2c2c;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.button:hover {
    background-color: #a30000;
}

footer {
    background-color: #292929;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
    color: #f0f0f0;
}

#calendar {
    margin-top: 20px;
    font-size: 1.2em;
    color: #f0f0f0;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
}

#calendar-table th, #calendar-table td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

#calendar-table th {
    background-color: #555;
    color: #fff;
}

.exam-date {
    background-color: #ed2c2c;
    color: white;
}
