body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
}

nav {
    margin-top: 20px; /* Ajoute un espacement en haut si nécessaire */
    text-align: center; /* Centre les éléments horizontalement */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet aux boutons de s'adapter sur plusieurs lignes si nécessaire */
}

nav ul li {
    margin: 10px; /* Espace entre chaque bouton */
}

nav ul li a {
    font-size: 0.8em; /* Réduction de la taille du texte */
    padding: 8px 16px; /* Ajustement du padding pour correspondre à la nouvelle taille du texte */
    background-color: #ed2c2c; /* Couleur par défaut des boutons */
    color: #ffffff;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #a30000; /* Couleur de survol sombre */
    color: #ffffff;
}

.content {
    padding: 40px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px; /* Espacement en bas du titre pour séparer du menu */
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}
