body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.content {
    background-color: #292929;
    padding: 40px;
    max-width: 800px;
    width: 90%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #ed2c2c;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin: 5px;
    border: none; /* Suppression du contour noir */
    width: 200px;
}

.button:hover {
    background-color: #a30000;
}

.columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.order-column,
.draggable-column {
    width: 40%;
}

.order-column ol,
.draggable-column ul {
    padding: 0;
    list-style-type: none;
}

.order-column li {
    position: relative;
    margin: 10px 0;
    height: 40px; /* Hauteur constante pour uniformiser la taille des cases */
    border: 2px dashed #ed2c2c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px; /* Pour laisser de l'espace pour les icônes */
    width: 100%; /* Assure une largeur uniforme */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.order-column li::before {
    content: attr(data-number);
    position: absolute;
    left: -30px;
    color: #ffffff;
    font-weight: bold;
}

.draggable {
    background-color: #ed2c2c;
    color: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: move;
    height: 40px; /* Hauteur constante pour correspondre aux zones de dépôt */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Assure une largeur uniforme */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.valid.correct::after {
    content: '';
    position: absolute;
    right: -25px; /* Position à l'extérieur à droite */
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="green"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-10.293a1 1 0 00-1.414-1.414L9 9.586 7.707 8.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}

.valid.incorrect::after {
    content: '';
    position: absolute;
    right: -25px; /* Position à l'extérieur à droite */
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-2.293-9.707a1 1 0 011.414 0L10 10.586l1.293-1.293a1 1 0 011.414 1.414L11.414 12l1.293 1.293a1 1 0 01-1.414 1.414L10 13.414l-1.293 1.293a1 1 0 01-1.414-1.414L8.586 12 7.293 10.707a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}

.input-columns ol {
    padding: 0;
    list-style-type: none;
}

.input-columns li {
    margin: 10px 0;
}

.input-columns input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: #292929;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
    color: #f0f0f0;
}
