body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #a30000;
}

main {
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.content {
    text-align: center;
}

.question p {
    font-size: 1.5em;
    margin: 20px 0;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Augmentez la largeur maximale du conteneur */
    margin: 0 auto;
    list-style-type: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime le padding par défaut de la liste */
}

.choice-container label {
    display: inline-block;
    width: 100%; /* Étend la largeur à 100% du conteneur parent */
    max-width: 500px; /* Limite la largeur maximale pour l'uniformité */
    margin: 5px 0; /* Ajoute un espacement plus large entre les choix */
    padding: 5px; /* Taille verticale ajustée */
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap; /* Assure que le texte reste sur une seule ligne */
    overflow: hidden; /* Coupe le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
}

.choice-container label:hover {
    background-color: #555;
    color: #ffffff;
}

.choice-container label input[type="radio"] {
    margin-right: 10px;
    flex-shrink: 0; /* Empêche le bouton radio de rétrécir */
}

button {
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #a30000;
}

input[type="text"] {
    width: calc(100% - 80px); /* Largeur réduite pour plus de compacité */
    max-width: 300px; /* Largeur adaptée pour un style compact */
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #292929; /* Même couleur que le fond du contenu */
    color: #f0f0f0;
    text-align: center;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#question-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    transform: translateY(-50%);
}

.embed {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}
