body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #a30000;
}

main {
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    text-align: center;
}

.question {
    font-size: 2em; /* Augmentation de la taille de la police pour les questions */
    margin: 40px 0; /* Espacement entre la question et les choix */
    text-align: center; /* Centre le texte des questions */
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments enfants horizontalement */
    width: 100%;
    max-width: 600px; /* Ajustez ici selon vos besoins */
    margin: 20px auto; /* Centré par rapport au conteneur principal */
    list-style-type: none;
    padding: 0;
}

.choice-container label {
    display: flex;
    justify-content: center; /* Centre le contenu du label */
    align-items: center;
    width: 300px; /* Largeur prédéfinie pour uniformiser tous les choix */
    margin: 5px 0;
    padding: 15px; /* Augmentation du padding pour un bouton plus large */
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    text-align: center; /* Centre le texte à l'intérieur du label */
}

.choice-container label:hover {
    background-color: #555;
    color: #ffffff;
}

.choice-container label.correct {
    background-color: #4caf50; /* Vert pour bonne réponse */
}

.choice-container label.wrong {
    background-color: #f44336; /* Rouge pour mauvaise réponse */
}

.choice-container label.highlight {
    background-color: #ff9800; /* Orange pour illustrer la bonne réponse */
}

input[type="radio"] {
    display: none; /* Cache complètement le bouton radio */
}

button {
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #a30000;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 5px auto;
    font-size: 0.9em;
    background-color: #1f1f1f; /* Fond foncé */
    border: 2px dashed #ed2c2c; /* Bordure rouge rayée */
    color: #ffffff; /* Texte blanc */
    border-radius: 5px; /* Coins arrondis */
    display: block;
    position: relative;
    text-align: left; /* Aligne le texte à gauche */
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#question-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    transform: translateY(-50%);
}

.embed {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}
