body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #a30000;
}

main {
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.content {
    text-align: center;
}

.question p {
    font-size: 1.5em;
    margin: 20px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

label:hover {
    background-color: #555;
    color: #ffffff;
}

button {
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #a30000;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

