body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #f0f0f0;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    position: relative;
    color: #f0f0f0; /* Couleur du texte pour contraste */
}

.back-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #a30000;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

.content {
    text-align: center;
    width: 100%;
    max-width: 800px;
    background-color: #292929; /* Gris foncé pour la fenêtre des questions */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre ajoutée */
    border-radius: 10px;
    padding: 20px;
}

.question p {
    font-size: 1.5em;
    margin: 20px 0;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.choice-container label {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 5px 0;
    padding: 15px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.choice-container label:hover {
    background-color: #555;
    color: #ffffff;
}

.choice-container label.correct {
    background-color: #4caf50; /* Vert pour bonne réponse */
}

.choice-container label.wrong {
    background-color: #f44336; /* Rouge pour mauvaise réponse */
}

.choice-container label.highlight {
    background-color: #ff9800; /* Orange pour illustrer la bonne réponse */
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #ed2c2c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #a30000;
}

#question-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    transform: translateY(-50%);
}

footer {
    background-color: #292929;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #f0f0f0;
    position: fixed;
    bottom: 0;
    left: 0;
}
